section(class="features text-center")
 .container
  div(class="features-heading")
   h2 خدمة اطلب
   p تتيح الخدمة الطلب من جميع المتاجر العامة
  div(class="row")
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-shopping-cart")
     div(class="feature-info")
      h4 توصيل طلباتك من السوبرماركت 
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-lemon")
     div(class="feature-info")
      h4 توصيل طلباتك من الخضار والفواكه 
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-syringe")
     div(class="feature-info")
      h4 توصيل طلباتك من الصيدلية 
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-utensils")
     div(class="feature-info")
      h4 توصيل طلباتك من اللحوم والدواجن 
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-leaf")
     div(class="feature-info")
      h4 توصيل طلباتك من كل المحلات التجارية . 
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-heart")
     div(class="feature-info")
      h4 توصيل طلباتك من أدوات النظافة .