footer
 .container-fluid
  div(class="row")
   div(class="footer-logo col-lg-2 col-md-4")
    img(src="images/logo.png" class="img-fluid")
   div(class="footer-links col-lg-5 col-md-8")
    .row
     div(class="links-1 col-md-6 col-sm-6")
      h5 Useful Links
      ul
       li Link 01
       li Link 02
       li Link 03
       li Link 04
     div(class="links-2 col-md-6 col-sm-6")
      h5 Useful Links
      ul
       li Home
       li Contact
       li How It Works
       li Download
   div(class="subscribe col-lg-5 col-md-12")
    h5 Stay In Touch
    .row
     input(type="email" class="form-control col-lg-9" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email")
     button(class="btn btn-primary col-lg-3") Subscribe
     div(class="social text-center")
      i(class="fab fa-facebook-f")
      i(class="fab fa-twitter")
      i(class="fab fa-youtube")
      i(class="fab fa-whatsapp")
      i(class="fa fa-envelope")
      i(class="fab fa-instagram")
   div(class="signature col-lg-12")
    h5 جميع الحقوق محفوظة 
     span  لـ راسل 2020
     img(src="images/flag.png" alt="Elbahren" title="Elbahren" class="flag")
     span(id="id") CR:31804