section(class="gallery text-center")
 h2 واجهات 
  span التطبيق
 .container
  div(class="owl-carousel owl-theme")
   div(class="item")
    img(src="images/screen-1.png")
   div(class="item")
    img(src="images/screen-6.png")
   div(class="item")
    img(src="images/screen-2.png")
   div(class="item")
    img(src="images/screen-5.png")
   div(class="item")
    img(src="images/screen-3.png")
   div(class="item")
    img(src="images/screen-4.png")

