header
 nav(class="navbar navbar-expand-lg navbar-light")
  div(class="container")
   a(class="navbar-brand" href="#") 
    img(src="images/logo-yellow.png" id="logo")
    span(id="id") CR:31804
   button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
   div(class="collapse navbar-collapse" id="navbarSupportedContent")
    ul(class="navbar-nav ml-auto d-felx align-items-center")
     li(class="nav-item active")
      a(class="nav-link" href="#") الرئيسية
       span(class="sr-only")
     li(class="nav-item" )
      a(class="nav-link" href="#" id="dod") ميزات التطبيق
     li(class="nav-item")
      a(class="nav-link" href="#") خدمة أطلب 
     li(class="nav-item")
      a(class="nav-link" href="#") خدمة إرسل 
     li(class="nav-item")
      a(class="nav-link" href="#") خدمة انشيء متجرك  
     li(class="nav-item")
      a(class="nav-link" href="#") إنضم لراسل 
     li(class="nav-item")
      button(class="btn btn-primary main-btn")
       a(href="#")
        span إتصل بنا 
         i(class="fas fa-arrow-right")
        span(class="upper")
         i(class="fas fa-arrow-right upper-i")
     li(class="nav-item")
      img(src="images/flag.png" alt="Elbahren" title="Elbahren" class="flag")
