section(class="intro")
 .container
  div(class='row justify-content-center text-right')
   div(class="intro-info col-lg-7")
    div(class="intro-slider")
     div(class="slider-item active")
      h2 مع راسل طلباتك أوامر
       <br/> من كل مكان وإلى كل مكان
      p  من أفضل تطبيقات التوصيل فى مملكة البحرين
    div(class="meza")
     ul
      li
       p سهل الإستخدام
        span(class="fas fa-arrow-left")
      li
       p نظام يسهل عليك مراسلة السائق كتابة وبالصوت والصورة
        span(class="fas fa-arrow-left")
      li
       p نظام تتبع دقيق يتيح لك متابعة السائق كل لحظة
        span(class="fas fa-arrow-left")
      li
       p عروض توصيل مختلفة لسائقين متعددين حتى نوفر لك أقل سعر
        span(class="fas fa-arrow-left")
    div(class="download d-flex align-items-center justify-content-center text-center")
     div(class="android")
      i(class="fab fa-google-play")
      p Google Play
     div(class="ios")
      i(class="fab fa-app-store")
      p App Store
   div(class="intro-img col-lg-5")
    img(src="images/screen-4.png" alt="mobile-phone" id="mobile")
   