.get-app
 .container
  div(class="row align-items-center")
   div(class="col-lg-6")
    h2 فقط أطلب ، و تتبع طلبك  
     span
    p(class="direct-p") وفرنا لك نظام دردشة كتابية مع السائق يدعم المقاطع الصوتية والصور. 
    div(class="download d-flex align-items-center")
     div(class="android")
      i(class="fab fa-google-play")
      p Google Play
     div(class="ios")
      i(class="fab fa-app-store")
      p App Store
   div(class="col-lg-6 text-right")
    video(src="images/SVID_20200507_225713_13062.mp4" width="460px" height="560px" controls autoplay)
.features-w
 .container
  h2(class="text-center") مميزات العمل   
   span معنا
  p(class="text-center") خدمة تتيح لك إرسال إي شيء إلى أي مكان مع سائقين راسل بخطوات سهلة وسريعة 
  .manu
   .row
    .col-md-4
     .box-1
      <i class="fas fa-clock"></i>
      h5 تقدر تختار أوقات عملك
    .col-md-4
     .box-1
      <i class="fas fa-map"></i>
      h5 وتحتاج بس ( رخصتك / سيارة أو دراجة / صورة هويتك / جوال اندوريد ) 
    .col-md-4
     .box-1
      <i class="fas fa-dollar-sign"></i>
      h5 تكسب دخل ممتاز يومي
section(class="features text-center two")
 .container
  div(class="features-heading")
   h2 إنشيء متجرك 
   p خدمة تتيح لأصحاب المشاريع التجارية المختلفة بانشيء متاجرهم الخاصة بهم من خلال تطبيق راسل.
  div(class="row")
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-image")
     div(class="feature-info")
      h4 	عرض كافة منتجاتك بالصور والأسعار
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fas fa-clock")
     div(class="feature-info")
      h4 	تحديد أوقات العمل 
   div(class="feature-box col-lg-4")
    div(class="feature-holder")
     i(class="fab fa-phoenix-framework" id="sos")
     div(class="feature-info")
      h4 	لن يتم تسجيل أي طلب حتى تتم موافقتك عليه.
   div(class="form-holder col-lg-12")
    form(action="#")
     h2 سجل الان
     div(class="form-group text-right")
      label(for="exampleInputEmail1")
      input(type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="الاسم")
     div(class="form-group")
      label(for="exampleInputEmail1")
      input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ادخل البريد الاليكترونى")
     div(class="form-group")
      label(for="exampleInputEmail1")
      input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="اسم المتجر")
     button(type="submit" class="btn btn-primary") تسجيل
div(class="join-us text-center")
 div(class="join-heading")
  h1 انضم 
   span لراسل
 div(class="container")
  div(class="row")
   div(class="join-box col-lg-4")
    div(class="join-holder")
     h4 معك رخصة ؟
     i(class="fas fa-id-card")
   div(class="join-box col-lg-4")
    div(class="join-holder")
     h4 معك سيارة أو معاك موتور سيكل ؟
     i(class="fas fa-car")
   div(class="join-box col-lg-4")
    div(class="join-holder")
     h4 عندك وقت فراغ ؟
     i(class="fas fa-clock")
div(class="who-we-are text-right")
 .container
  .row
   .col-md-6
   div(class="col-md-6 get-in-con text-right")
    h3 إتصل بنا 
    .conec
     div(class="text-right")
      h5 رقم الإتصال خدمة العملاء  : 0125165674
      h5  خدمة العملاء واتساب : 0125165674
      h5  خدمة العملاء تيلجرام : 0125165674
      h5 
       a(href="https://facebook.com") INOF@RASAL.CC 
       | : الايميل 