.features{
    padding: 100px 0 10px 0;
    overflow: hidden;
    background: url(../../images/bg.png) center;
    background-size: cover
}

.features .features-heading h2{
    color: var(--heading-color)
}

.features .features-heading p{
    color: var(--p-color);
    width: 60%;
    line-height: 1.6;
    margin: 20px auto 50px auto;
    font-size: 25px
}

.features .feature-box .feature-holder{
    padding: 50px 30px;
    cursor: pointer;
    transition: 0.3s all ease;
    position: relative
}

.features .feature-box{
    background-color: rgba(255, 255, 255, 0.6);
    
}


.features .feature-box .feature-holder::before{
    content: '';
    background: url(../../images/background/bg-icon.svg) center no-repeat;
    position: absolute;
    height: 70px;
    width: 70px;
    background-size: cover;
    top: 18%;
    left: calc(50% - 35px);
}

.features .feature-box .feature-holder i{
    color: var(--main-color);
    font-size: 45px;
    padding: 20px;
    animation: loop 1s infinite ease paused;
}

.features .feature-box .feature-holder .feature-info h4{
    color: var(--heading-color);
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 22px
}

.features .feature-box .feature-holder .feature-info p{
    color: var(--p-color);
    line-height: 1.6;
}

.features .feature-box .feature-holder:hover i{
    animation-play-state: running;
}

@keyframes loop{
    0%{
        transform: scale(1)
    }
    50%{
        transform: scale(1.1)
    }
    100%{
        transform: scale(1)
    }
}

@keyframes featuresLeft{
    0%{
        left: -40%
    }
    100%{
        left: 0
    }
}

@keyframes featuresRight{
    0%{
        right: -40%
    }
    100%{
        right: 0
    }
}

@keyframes featuresDown{
    0%{
        transform: translateY(120%);
    }
    100%{
        transform: translateY(0);
    }
}

.features .feature-box:first-child{
    animation: featuresLeft 1s 1 ease forwards;
}
.features .feature-box:nth-child(2){
    animation: featuresDown 1s 1 ease forwards;
}
.features .feature-box:nth-child(3){
    animation: featuresRight 1s 1 ease forwards;
}
.features .feature-box:nth-child(4){
    animation: featuresLeft 1s 1 ease forwards;
}
.features .feature-box:nth-child(5){
    animation: featuresDown 1s 1 ease forwards;
}
.features .feature-box:last-child{
    animation: featuresRight 1s 1 ease forwards;
}

.features .feature-box:first-child,
.features .feature-box:nth-child(2),
.features .feature-box:nth-child(3),
.features .feature-box:nth-child(4),
.features .feature-box:nth-child(5),
.features .feature-box:nth-child(6),
.features .feature-box:last-child{
    position: relative;
    animation-play-state: paused;
}